:root {
    --groc: #ffcc03;
    --vermell: #F15D49;
    --blau: #0086D4;
}

@font-face {
    font-family: 'Orange Kid';
    src: url(src/font/orange\ kid.otf);
}

@font-face {
    font-family: 'Pokémon';
    src: url(src/font/Pokemon\ Solid.ttf);
}

* {
    text-align: center;
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-image: url("src/img/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Orange Kid';
}

#header {
    padding-top: 20px;
    display: flex;
    height: 15vh;
    align-items: center;
    margin: 0 10%;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 10px;
}

.buttons button {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 35px;
}

#btnVolume {
    background-color: lightgrey;
}

#btnInfo{
    transition: all 0.5s;
    background-color: var(--groc);
    border: 4px solid var(--blau)
}

#btnInfo:hover{
    background-color: var(--blau);
    border: 4px solid var(--groc)
}

.buttons button i {
    font-size: 20px;
}

#contenidorBoto {
    position: relative;
    display: inline-block;
}

#btnInfo:hover+#imatgeContainer {
    display: block;
}

#imatgeContainer {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 10px;
}

#imatge {
    width: 200px;
    height: auto;
    border-radius: 10px;
    border: 2px solid white;
}

#title {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 10% 0px 10%;
}

#barra {
    margin: 20px 0px 20px 0px;
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

#progress {
    transition: all 1s;
    width: 0px;
    height: 30px;
    background-color: var(--groc);
}

#ash {
    display: flex;
    align-items: end;
    width: 29%;
}

#ash img {
    height: 450px;
    transform: scaleX(-1);
}

/*Pokédex*/
#pokedex {
    width: 70%;
    height: 70vh;
}

#content {
    box-shadow: 0 0 0 4px black;
    /* Anaranjado, ancho de borde de 4px */
    background: black;
    background-image: url(src/img/pokedex-bg.jpg);
    border-radius: 15px 15px 0px 0px;
    border: var(--vermell) solid;
    border-width: 40px 40px 0px 40px;
    height: 80%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#content::-webkit-scrollbar {
    display: none;
}

#content::-webkit-scrollbar-thumb {
    background: transparent;
}

.msg-left {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
}

.msg-right {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
}

.msg {
    max-width: 70%;
    font-size: 27px;
    padding: 15px;
    margin: 15px;
}

.msg img {
    width: 50%;
}

.msg-left .msg p {
    text-align: left;
}

.msg-right .msg p {
    text-align: center;
}

.msg-left .msg {
    border-radius: 15px 15px 15px 0px;
    background-color: #FCBF49
}

.msg-right .msg {
    border-radius: 15px 15px 0px 15px;
    min-width: 60px;
    color: white;
    background-color: #121212;
}


#bot {
    box-shadow: 0 0 0 4px black;
    /* Anaranjado, ancho de borde de 4px */
    height: 15vh;
    border-radius: 0px 0px 15px 15px;
    background-color: var(--vermell);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.litle {
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 35px;
}

.big {
    margin: 0px 20px;
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 35px;
}

#respostes {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#respostes button {
    color: white;
    background: #7C7C7C;
    border-bottom: 6px inset rgba(0, 0, 0, .5);
    border-left: 6px inset rgba(0, 0, 0, .5);
    border-right: 6px inset rgba(255, 255, 255, .5);
    border-top: 6px inset rgba(255, 255, 255, .5);
    box-sizing: border-box;
    font-size: 40px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orange Kid';
    cursor: pointer;
}

#respostes button:hover {
    background: #BCBCBC;
}

/* Animation */
@keyframes shake {
    0% {
        transform: translateX(0) rotate(0);
    }

    20% {
        transform: translateX(-10px) rotate(-20deg);
    }

    30% {
        transform: translateX(10px) rotate(20deg);
    }

    50% {
        transform: translateX(-10px) rotate(-10deg);
    }

    60% {
        transform: translateX(10px) rotate(10deg);
    }

    100% {
        transform: translateX(0) rotate(0);
    }
}

@keyframes fall {
    0% {
        transform: translateY(-200%);
    }

    60% {
        transform: translateY(0);
    }

    80% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes catch {
    to {
        filter: saturate(0.8) brightness(0.8);
    }
}